.back-splash {
  width: 100px;
  height: 100px;
}

.developer-activity {
  width: 850px;
  height: 740px;
}

.icon-calendar {
  width: 32px;
  height: 32px;
}

.icon-check {
  width: 50px;
  height: 50px;
}

.icon-chevron {
  width: 24px;
  height: 24px;
}

.icon-design {
  width: 32px;
  height: 32px;
}

.icon-dev {
  width: 32px;
  height: 32px;
}

.icon-download {
  width: 32px;
  height: 32px;
}

.icon-email {
  width: 32px;
  height: 32px;
}

.icon-github {
  width: 32px;
  height: 32px;
}

.icon-group {
  width: 32px;
  height: 32px;
}

.icon-linkedin {
  width: 32px;
  height: 32px;
}

.icon-medal {
  width: 32px;
  height: 32px;
}

.icon-phone {
  width: 24px;
  height: 24px;
}

.icon-responsive {
  width: 32px;
  height: 32px;
}

.icon-whatsapp {
  width: 32px;
  height: 32px;
}

.logo-android {
  width: 48px;
  height: 48px;
}

.logo-bootstrap {
  width: 2500px;
  height: 1992px;
}

.logo-c-sharp {
  width: 48px;
  height: 48px;
}

.logo-css {
  width: 48px;
  height: 48px;
}

.logo-firebase {
  width: 48px;
  height: 48px;
}

.logo-github {
  width: 48px;
  height: 48px;
}

.logo-html {
  width: 48px;
  height: 48px;
}

.logo-java {
  width: 48px;
  height: 48px;
}

.logo-javascript {
  width: 48px;
  height: 48px;
}

.logo-mui {
  width: 256px;
  height: 204px;
}

.logo-mysql {
  width: 48px;
  height: 48px;
}

.logo-net {
  width: 64px;
  height: 64px;
}
.cls-1{fill:#5c2d91;}
.cls-2,.cls-3{fill:#fff;}
.cls-2{opacity:0.1;}
.cls-4{fill:#f2f2f2;}

.logo-npm {
  width: 540px;
  height: 210px;
}

.logo-php {
  width: 256px;
  height: 135px;
}

.logo-react {
  width: 256px;
  height: 230px;
}

.logo-sass {
  width: 48px;
  height: 48px;
}

.logo-sql {
  width: 48px;
  height: 48px;
}

