.back-splash {
  width: 100px;
  height: 100px;
}

.icon-calendar {
  width: 32px;
  height: 32px;
}

.icon-check {
  width: 50px;
  height: 50px;
}

.icon-chevron {
  width: 24px;
  height: 24px;
}

.icon-design {
  width: 32px;
  height: 32px;
}

.icon-download {
  width: 32px;
  height: 32px;
}

.icon-email {
  width: 32px;
  height: 32px;
}

.icon-github {
  width: 32px;
  height: 32px;
}

.icon-group {
  width: 32px;
  height: 32px;
}

.icon-linkedin {
  width: 32px;
  height: 32px;
}

.icon-medal {
  width: 32px;
  height: 32px;
}

.icon-phone {
  width: 24px;
  height: 24px;
}

.icon-responsive {
  width: 32px;
  height: 32px;
}

.icon-whatsapp {
  width: 32px;
  height: 32px;
}

.logo-android {
  width: 48px;
  height: 48px;
}

.logo-bootstrap {
  width: 2500px;
  height: 1992px;
}

.logo-c-sharp {
  width: 48px;
  height: 48px;
}

.logo-css {
  width: 48px;
  height: 48px;
}

.logo-firebase {
  width: 48px;
  height: 48px;
}

.logo-github {
  width: 48px;
  height: 48px;
}

.logo-html {
  width: 48px;
  height: 48px;
}

.logo-java {
  width: 48px;
  height: 48px;
}

.logo-javascript {
  width: 48px;
  height: 48px;
}

.logo-mysql {
  width: 48px;
  height: 48px;
}

.logo-php {
  width: 256px;
  height: 135px;
}

.logo-sass {
  width: 48px;
  height: 48px;
}

.logo-sql {
  width: 48px;
  height: 48px;
}

